$main-font: "Lato", sans-serif;
$dark-violet: #404884;
$light-pink: #FF78BA;
$title-violet: #353B6E;
$font-dark-gray: #494C6A;
$white: #ffffff;
$black: #000000; 
$ultra-light-pink: #FFEAF6;
$border-color: #AACEF2;
$about-us-bgc: #FFEAF6;
$yellow: #ffdd78;
$yl: #118ab2;
$pnk: #ff6392;
$vio-blue: #808BD1;

