<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Layout</title>
  </head>
  <body>



    <section class="feature">
      <div class="container">
        <div class="row">
          <h1 class="feature__title">HOW IT WORKS</h1>
        </div>
        <!-- ROW -->
        <div class="row">
          <div class="column feature__card">
            <img src="./assets/image/uiux.svg" alt="UI/UX Design" class="feature__icon" />
            <h3 class="feature__subtitle">UI/UX DESIGN</h3>
            <p class="feature__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, quam.
            </p>
          </div>
          <!-- div.feature__card -->
          <div class="column feature__card">
            <img src="./assets/image/illu.svg" alt="Illustration" class="feature__icon" />
            <h3 class="feature__subtitle">Illustration</h3>
            <p class="feature__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, quam.
            </p>
          </div>
          <!-- div.feature__card -->
          <div class="column feature__card">
            <img src="./assets/image/mg.svg" alt="" class="feature__icon" />
            <h3 class="feature__subtitle">Motion Graphic</h3>
            <p class="feature__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, quam.
            </p>
          </div>
          <div class="clearfix"></div>
          <!-- div.feature__card -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>   

    <section id="solution">
        <div class="wrapper">
          <div class="row">
            <div class="col-6">
              <img src="./assets/image/NST_main.png" alt="dog" class="solution__img mt-104">
            </div>
            <div class="col-6">
              <div class="solution__texts mt-104 ml-3">
                <span class="solution__numeric">01</span>
                <h1 class="solution__title mb-24">Perfect solution for your website</h1>
                <p class="solution__description mb-48">Develop a website by finding a product identity that has value and branding to become a characteristic of a company. We will also facilitate the business marketing of these products with our SEO experts so that they become a ready-to-use website and help sell a product from the company</p>
                <a href="#" class="solution__learn-more btn">Learn More</a>
              </div>

            </div>  
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="solution__texts mt-88 mr-3">
                <span class="solution__numeric ">02</span>
                <h1 class="solution__title mb-24">Perfect solution for your website</h1>
                <p class="solution__description mb-48">Develop a website by finding a product identity that has value and branding to become a characteristic of a company. We will also facilitate the business marketing of these products with our SEO experts so that they become a ready-to-use website and help sell a product from the company</p>
                <a href="" class="solution__learn-more btn bg-rv">Learn More</a>
              </div>
            </div>  

            <div class="col-6">
              <img src="./assets/image/HD_main.png" alt="dog" class="solution__img mt-88">
            </div>
            <div class="clearfix"></div>
          </div>

          
        </div>

    </section>
  </body>
</html>
